<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <div>
        <input type="number" id="idU" placeholder="Id">
        <button onclick="sendMessage()">Send</button>
    </div>
    <div id="response"></div>

    <script>
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/users/delete');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                stompClient.subscribe('/topic/response', function (response) {
                    var responseDiv = document.getElementById('response');
                    responseDiv.innerHTML += 'success' + '<br>';
                });
            });
        }

        function sendMessage() {
            var id = document.getElementById('idU').value;
            stompClient.send("/app/users/delete", {}, JSON.stringify({'id': id}));
        }

        window.onload = function () {
            connect();
        };
    </script>
</body>
</html>
